@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#test-pilot-all-studies-window  {
  background: #e2eff3 url("chrome://global/skin/bg-gen.png") repeat left top !important;
}
#test-pilot-all-studies-window prefpane {
  background-color: transparent !important; 
}
#test-pilot-all-studies-window richlistbox {
  background-color: transparent !important;
}
#test-pilot-all-studies-window richlistitem {
  background-color: transparent !important;
}
