@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#foxmarks-newuserwiz {
  background: transparent url('chrome://global/skin/foxmarks/newuserwiz-bg.png') no-repeat center center !important;
}
#foxmarks-newuserwiz description {
  color: #007CA9;
}
#foxmarks-newuserwiz label {
  color: #007CA9;
}

#xmarks-tabs-dialog description {
  color: #007CA9;
}
#xmarks-tabs-dialog label {
  color: #007CA9;
}

#foxmarks-login-window description {
  color: #007CA9;
}
#foxmarks-login-window label {
  color: #007CA9;
}
#foxmarks-settings .paneSelector {
  background: #e2eff3 url("chrome://browser/skin/preferences/pref-bg.png") repeat-x !important;
}
#foxmarks-settings .paneSelector radio[pane][selected="true"] {
  background: transparent url("chrome://browser/skin/preferences/selected.png") repeat-x;
}
#foxmarks-settings .paneSelector radio[pane]:hover {
  background: #e2eff3 url("chrome://browser/skin/preferences/hover.png") repeat-x !important;
}
