@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#samfind-options > #main {
	background: url('chrome://samfind/skin/glossymetal.jpg') repeat-y center top !important;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
}
#samfind-options caption {
  background: #fff url('chrome://samfind/skin/background_button.gif') repeat-x left bottom !important;
}
#samfind-options menulist {
  -moz-appearance: menulist;
}
#samfind-options .menulist-dropmarker {
  -moz-appearance: menulist-button;
}
#samfind-options menulist > menupopup {
  background: #eee none !important;
  -moz-appearance: menupopup;
}
#samfind-options menulist menu,
#samfind-options menulist menuitem,
#samfind-options menulist menuitem:hover {
  background: none !important;
  -moz-appearance: menuitem;
}
#samfind-options .radio-check-box1 {
  -moz-appearance: radio;
}
#samfind-options checkbox {
  -moz-appearance: checkbox-container;
}
#samfind-options .checkbox-check {
  -moz-appearance: checkbox;
}
#samfind-options label {
  color: #444;
}

#samfind-sidesam label,
#samfind-sidesam description {
  color: #444;
}

#samfind-sidesam .menu-text,
#samfind-sidesam .menu-accel {
  color: #2c4a56;
}

#samfind-trouble caption {
  background: #fff url('chrome://samfind/skin/background_button.gif') repeat-x left bottom !important;
}
#samfind-trouble label,
#samfind-trouble description {
  color: #444;
}
#samfind-trouble menupopup label {
  color: #2c4a56;
}

#samfind-contact menulist {
  -moz-appearance: menulist;
}
#samfind-contact .menulist-dropmarker {
  -moz-appearance: menulist-button;
}
#samfind-contact caption {
  background: #fff url('chrome://samfind/skin/background_button.gif') repeat-x left bottom !important;
}
#samfind-contact label {
  color: #444;
}
#samfind-contact menupopup label {
  color: #2c4a56;
}

#samfind-about #main {
	background: url('chrome://samfind/skin/glossymetal.jpg') repeat-y center top !important;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
}
#samfind-about caption {
  background: #fff url('chrome://samfind/skin/background_button.gif') repeat-x left bottom !important;
}
#samfind-about label,
#samfind-about description {
  color: #444;
}

#samfind-email label {
  color: #444;
}

#samfind-rss label {
  color: #444;
}

#samfind-login caption {
  background: #fff url('chrome://samfind/skin/background_button.gif') repeat-x left bottom !important;
}
#samfind-login label {
  color: #444;
}
#samfind-login menupopup label {
  color: #2c4a56;
}
