#clientBox {
  background-color: #e2eff3;
  color: #1e7a99;
}

#extensionName {
  font-size: large;
  font-weight: bold;
}

#extensionVersion {
  font-weight: bold;
  color: #1e7a99;
}

#genericAbout {
  padding: 0px 0px 10px 0px;
  min-height: 200px;
  width: 30em;
}

#groove {
  margin-top: 0px;
}

#clientBox {
  padding: 10px;
} 

#extensionDescription {
  color: #1e7a99;
}

.boxIndent {
  -moz-margin-start: 6px;
}

#extensionCreator, .contributor {
  margin: 0px;
} 

.sectionTitle {
  border-top: 2px solid #1e7a99;
  padding: 2px 0px 3px 0px;
  margin-top: 3px;
  font-weight: bold;
}

