#aios-toolbar{
  background: #e2eff3 url("chrome://global/skin/brushed.png") !important;
  color: #2c4a56 !important;
}
#aiosGeneral menulist{
  -moz-appearance: none !important;
  background-color: #e2eff3 !important;
  border: 1px solid #1e7a99 !important;  
}
#aiosGeneral textbox,
#aiosPreferences #edit,
#aiosPreferences #emCustLinks{
  -moz-appearance: none !important;
  background-color: #e2eff3 !important;
  border: 1px solid #1e7a99 !important;  
}
#aios-toggle-toolbar{
  background: url("chrome://global/skin/bg-inverse.png") !important;
}
#sidebars-titlebutton > label{
  background-image: url("chrome://global/skin/arrow/arrow-dn.gif") !important;
}
#aios-sbhtoolbox, #aios-sbhtoolbar{
  background-color: transparent !important;
}
#aios-sbhtoolbar toolbarbutton{
  padding: 0px !important;
  margin: 0px !important;
}
#aios-sbhtoolbar  #autohide-button {
  list-style-image: url("chrome://global/skin/aios/toggle-sidebar.png") !important;
  -moz-image-region: rect(0px 24px 24px 0px) !important;
}
#aios-sbhtoolbar  #paneltab-button{
  list-style-image: url("chrome://global/skin/aios/open-tab.png") !important;
  -moz-image-region: rect(0px 24px 24px 0px) !important;
}
#places-toolbar #viewButton {
  list-style-image: url("chrome://global/skin/aios/view.png") !important;
  -moz-image-region: rect(0px 16px 16px 0px) !important;  
}

radio[pane=aiosGeneral],
radio[pane=aiosMenus],
radio[pane=aiosKeys] {
  list-style-image: url("chrome://global/skin/aios/prefs.png") !important;
}
radio[pane=aiosPanels] {
  list-style-image: url("chrome://global/skin/aios/panels.png") !important;
}

#aiosPreferences #edit {
  background-color: #e2eff3 !important;
}
#aiosKeys treechildren::-moz-tree-row(odd) {
  background-color: #e2eff3 !important;
  border-top: 1px solid #1e7a99 !important;
  border-bottom: 1px solid #1e7a99 !important;
}
#aiosKeys treechildren::-moz-tree-row(selected),
#aiosKeys treechildren::-moz-tree-row(odd, selected)  {
  background-color: #e2eff3 !important;
}
#aiosKeys treechildren::-moz-tree-cell-text(hardcoded) {
  color: #2c4a56 !important;
}
#aiosKeys treechildren::-moz-tree-cell-text(duplicate){
  color: #2c4a56 !important;
  font-weight: bold !important;
}
