@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#at_welcome label {
  color: -moz-FieldText;
}

#at_tbSearch > #at_tbSearchBtn > label{
  color: -moz-FieldText;
}

#at_welcome > #container > #overlay > #overlay-bottom > #finish-button  > .button-box {
  background-image: none;
}