
#main-window > vbox > box > vbox,
#main-window > vbox > spacer {
  background: #e2eff3 !important;
}
#main-toolbar > toolbaritem > #account{
  -moz-appearance: none !important;
  background-color: #e2eff3 !important;
  border: 1px solid #1e7a99 !important;  
}
#localpath,
#remotepath {
  -moz-appearance: none;
  background: #e2eff3 url("chrome://browser/skin/bookmarks/bm-startcap.png") left center no-repeat !important;
  border: none;
  padding-left: 8px;
}

#localpath > .autocomplete-textbox-container,
#remotepath > .autocomplete-textbox-container {
  background: #e2eff3 url("chrome://browser/skin/bookmarks/bm-endcap.png") right center no-repeat !important;
  min-height: 22px;
  padding-left: 8px;
  padding-right: 24px;
}

#localpath > .autocomplete-history-dropmarker,
#remotepath > .autocomplete-history-dropmarker {
  -moz-appearance: none !important;
  background-color: transparent;
  list-style-image: url("chrome://browser/skin/icons/dropmarker.png") !important;
  -moz-image-region: rect(0px 16px 16px 0px) !important;
   border: none !important;
   margin-left: -24px !important;
}


#localpath > .autocomplete-history-dropmarker:hover,
#localpath > .autocomplete-history-dropmarker:hover:active,
#remotepath > .autocomplete-history-dropmarker:hover,
#remotepath > .autocomplete-history-dropmarker:hover:active {
  -moz-image-region: rect(16px 16px 32px 0px) !important;
}

#retrieveButton .button-box,
#storeButton .button-box,
#retrieveButton,
#storeButton {
  background: transparent !important;
}


#retrieveButton {
  list-style-image: url("chrome://browser/skin/icons/back.png") !important;
  -moz-image-region: rect(0px 34px 34px 0px) !important;
}
#retrieveButton:hover{
  list-style-image: url("chrome://browser/skin/icons/back.png") !important;
  -moz-image-region: rect(34px 34px 68px 0px) !important;
}
#retrieveButton:hover:active {
  list-style-image: url("chrome://browser/skin/icons/back.png") !important;
  -moz-image-region: rect(68px 34px 102px 0px) !important;
}
#retrieveButton[disabled="true"] {
  list-style-image: url("chrome://browser/skin/icons/back.png") !important;
  -moz-image-region: rect(102px 34px 136px 0px) !important;
}

#storeButton {
  list-style-image: url("chrome://browser/skin/icons/next.png") !important;
  -moz-image-region: rect(0px 34px 34px 0px) !important;
}
#storeButton:hover{
  list-style-image: url("chrome://browser/skin/icons/next.png") !important;
  -moz-image-region: rect(34px 34px 68px 0px) !important;
}
#storeButton:hover:active {
  list-style-image: url("chrome://browser/skin/icons/next.png") !important;
  -moz-image-region: rect(68px 34px 102px 0px) !important;
}
#storeButton[disabled="true"] {
  list-style-image: url("chrome://browser/skin/icons/next.png") !important;
  -moz-image-region: rect(102px 34px 136px 0px) !important;
}

.upButton {
  list-style-image: url("chrome://global/skin/extension-icons/fileup.png") !important;
  -moz-image-region: rect(0px 26px 23px 0px) !important;
}
.upButton:hover {
  list-style-image: url("chrome://global/skin/extension-icons/fileup.png") !important;
  -moz-image-region: rect(23px 26px 46px 0px) !important;
}
.upButton:hover:active {
  list-style-image: url("chrome://global/skin/extension-icons/fileup.png") !important;
  -moz-image-region: rect(46px 26px 69px 0px) !important;
}
.upButton[disabled="true"] {
  list-style-image: url("chrome://global/skin/extension-icons/fileup.png") !important;
  -moz-image-region: rect(69px 26px 92px 0px) !important;
}

.refreshButton {
  list-style-image: url("chrome://browser/skin/icons/small/refresh-sm.png") !important;
  -moz-image-region: rect(0px 28px 28px 0px) !important;
}
.refreshButton:hover {
  list-style-image: url("chrome://browser/skin/icons/small/refresh-sm.png") !important;
  -moz-image-region: rect(28px 28px 56px 0px) !important;
}
.refreshButton:hover:active {
  list-style-image: url("chrome://browser/skin/icons/small/refresh-sm.png") !important;
  -moz-image-region: rect(56px 28px 84px 0px) !important;
}
.refreshButton[disabled="true"] {
  list-style-image: url("chrome://browser/skin/icons/small/refresh-sm.png") !important;
  -moz-image-region: rect(84px 28px 112px 0px) !important;
}
#account .menulist-label-box .menulist-label,
#account .menulist-dropmarker .dropmarker-icon {
  padding-top: 1px !important;
}
#accountmenu,
#connectbutton,
#abortbutton,
#pausebutton,
#logbutton,
#prefbutton,
#advmenu,
#helpbutton {
  padding-top: 4px !important;
  color: #2c4a56 !important;
  background-color : transparent !important;
  background-image: none !important;
  margin-top: -3px !important;
}

#accountmenu:hover,
#connectbutton:hover,
#abortbutton:hover,
#pausebutton:hover,
#logbutton:hover,
#prefbutton:hover,
#advmenu:hover,
#helpbutton:hover {
  padding-top: 4px !important;
  color: #2c4a56 !important;
  background-color : transparent !important;
  background-image: url("chrome://global/skin/toolbar/menu-hover.png") !important;
  margin-top: -3px !important;
}

#accountmenu:hover:active,
#connectbutton:hover:active,
#abortbutton:hover:active,
#pausebutton:hover:active,
#logbutton:hover:active,
#prefbutton:hover:active,
#advmenu:hover:active,
#helpbutton:hover:active {
  padding-top: 5px !important;
  color: #2c4a56 !important;
  margin-top: -2px !important;
  background-color : transparent !important;
  background-image: url("chrome://global/skin/toolbar/menu-active.png") !important;
}
 
#searchToolbar > #searchContainer > #searchFile{
  color: #000000 !important;  
}
/* Preferences */

#fireftpPreferences3 #proxytype{
  -moz-appearance: none !important;
  background-color: #e2eff3 !important;
  border: 1px solid #1e7a99 !important;  
}
#fireftpPreferences3 #proxyhost,
#fireftpPreferences3 #proxyport,
#fireftpPreferences3 #activelowport,
#fireftpPreferences3 #activehighport,
#fireftpPreferences3 #concurrent,
#fireftpPreferences3 #network,
#fireftpPreferences3 #retry,
#fireftpPreferences3 #attempts{
  -moz-appearance: none !important;
  background-color: #e2eff3 !important;
  border: 1px solid #1e7a99 !important;  
}
#fireftpPreferences3 .textLink{
  color: #2c4a56;
  text-decoration: underline;
}
