@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* inset areas */

.inset
  {
    border-left           : 1px solid #1e7a99;
    border-top            : 1px solid #1e7a99;
    border-right          : 1px solid #1e7a99;
    border-bottom         : 1px solid #1e7a99;
    margin                : 0px 5px 5px 5px;
  }
  
.box-inset {
  margin: 2px 4px;
  border: 2px solid;
  -moz-border-top-colors: #1e7a99 #075b77;
  -moz-border-right-colors: #1e7a99 #075b77;
  -moz-border-bottom-colors: #1e7a99 #075b77;
  -moz-border-left-colors: #1e7a99 #075b77;
  background-color: #e2eff3;
  color: #2c4a56;
}  
  
/* formatting */
.groove-top
  {
    border-top            : 2px groove #1e7a99;  
  }
  
.groove-right
  {
    border-right          : 2px groove #1e7a99;
  }
  
.groove-left
  {
    border-left           : 2px groove #1e7a99;
  }
  
.groove-bottom
  {
    border-bottom         : 2px groove #1e7a99;
  }
  
.outset
  {
    border-left           : 1px solid #1e7a99;
    border-top            : 1px solid #1e7a99;
    border-right          : 1px solid #1e7a99;
    border-bottom         : 1px solid #1e7a99;
  }
  
.outset-top-bottom
  {
    border-top            : 1px solid #1e7a99;
    border-bottom         : 1px solid #1e7a99;
  }   


  
/** separator rules **/
/* standard separators */
  separator, separator[orient="horizontal"] 
    {
      height: 1.5em;
    }
  
  separator[orient="vertical"] 
    {
      width: 1.5em;
    }

/* thinner separators (50% size) */
  separator.thin, separator.thin[orient="horizontal"] 
    {
      height: 0.5em;
    }
  
  separator.thin[orient="vertical"] 
    {
      width: 0.5em;
    }

/* groove separators (50% size) */
  separator.groove,
  separator.groove[orient="horizontal"] 
    {
      border-top: 1px solid #1e7a99;
      border-bottom: 1px solid #1e7a99;
      height: 0px;
      margin-top: 0.4em;
      margin-bottom: 0.4em;
    }
  
  separator.groove[orient="vertical"] 
    {
      border-left: 1px solid #1e7a99;
      border-right: 1px solid #1e7a99;
      -moz-margin-start: 0.4em;
      -moz-margin-end: 0.4em;
    }
  
/* groove separators (0 padding, for dividing effects) */  
  separator.groove-thin 
    {
      border-top: 1px solid #1e7a99;
      border-bottom: 1px solid #1e7a99;
      height: 0px;
    }
  
  separator[orient="vertical"].groove-thin 
    {
      border-left: 1px solid #1e7a99;
      border-right: 1px solid #1e7a99;
    }
   #pageSagePanel > separator.groove-thin{
	  border: none !important;
   }
/** text formatting rules **/
/* label (with margins) */

/** Reduced Margin for some UI **/
  .small-margin
    {
      margin              : 1px 2px 1px 2px;
    }
    
  .plain 
    {
      margin: 0px !important;
      border: none;
      padding: 0px;
    }
  label[disabled="true"] 
    {
      color                 : #8c8c8c;
    }    

  description, label
    {
      cursor              : default;
      color: #2c4a56; 
    }
    
  #sidebars-titlebutton:hover > label
    {
      background-color: #2c4a56 !important;
    }
  #DownThemAll .dialogheader-title,
  #DownThemAll .dialogheader-description
    {
      color: #2c4a56 !important;
    }
  #abpEditSubscription description
    {
      color: #2c4a56 !important;
    }
	description
    {
      margin              : 1px 5px 4px 5px;
    }

  label
    {
      margin-top: 1px;
      margin-bottom: 2px;
      -moz-margin-start: 6px;
      -moz-margin-end: 5px;
    }

  .header 
    {
      font-weight         : bold;
    }

  .larger-text 
    {
      font-size           : larger;
    }

  .smaller-text 
    {
      font-size           : smaller;
    }
   
  .monospace
    {
      font-family         : monospace;
    }
    
  .indent
    {
      -moz-margin-start         : 23px;
    }

  .box-padded
    {
      padding             : 5px;
    }    

  .spaced
    {
      margin              : 3px 5px 4px 5px;
    }    

  .wizard-box
    {
      padding             : 20px 44px 10px 44px;
    }    

  .caption-text
    {
      margin-top: 0px !important;
      margin-bottom: 0px !important;
      -moz-margin-start: 1px !important;
      -moz-margin-end: 2px !important;
    }


/* class for text with a 'link' appearance */
  .text-link, #reminderFox-options .url
    {
      color                 : #2c4a56;
      text-decoration       : underline;
      border                : 1px solid transparent;
	  cursor                : pointer;
    }
  
  .text-link:focus
    {
      color                 : #2c4a56;
      border                : 1px dotted #2c4a56;
    }

  .text-link:hover
    {
      cursor                : pointer;
    } 
  
  .text-link:hover:active
    {
      color                 : #2c4a56;
    } 

  .text-link[visited="true"] 
    {
      color                 : #2c4a56;
    }
	
  #performancing-editor-subject-label{
    color: #2c4a56 !important;
  }
  #showcaseWindow label{
    color: #000000 !important;
  }
  #gtbPopupAutoComplete .gtbPopupClearText{
    color: -moz-fieldtext !important;
  }
  #ebayCompanionSidebar label, #ebayCompanionSidebar description {
     color: #010101 !important;   
  }
  #PDFDownload_Options .rounded{
    background-color: #e2eff3 !important;
  }
  #everywhere-prefs #everywhere-prefs-pane description,
  #everywhere-prefs #everywhere-prefs-pane label {
    color: #2c4a56 !important;
  }
  #wot-eulaframe {
    background: url("chrome://global/skin/bg-inverse.png");
    overflow: auto;
  }
  #webdeveloper-about-details description, 
  #webdeveloper-about-details label  {
    color: black !important;
  }
  #foxmarks-newuserwiz description,
  #foxmarks-newuserwiz label {
    color: #2181c2 !important;
  }
  #at_welcome > #container > #overlay description,
  #at_welcome > #container > #overlay label {
    color: black !important;
  }
  
  #twitter-count-vbox #twitter-count {
    color: #2c4a56 !important;
  }
  
  #gpum-popup description,
  #gpum-popup label {
    color: #2266b3;
  }
  #gpum-popup .gpum-popup-header > label {
    color: black;
  }
  #gpum-config .link {
    color: #2c4a56;
  }

  #SmoothWheelSettingTabpanels .text-link {
    color: #2c4a56 !important;
  }

#foxclocksoverlay-clock-id-0 { background: white none !important;; }
#foxclocksoverlay-clock-id-0 > label { color: black; }
#foxclocksoverlay-clock-id-1 { background: white none !important;; }
#foxclocksoverlay-clock-id-1 > label { color: black; }
#foxclocksoverlay-clock-id-2 { background: white none !important;; }
#foxclocksoverlay-clock-id-2 > label { color: black; }
#foxclocksoverlay-clock-id-3 { background: white none !important;; }
#foxclocksoverlay-clock-id-3 > label { color: black; }
#foxclocksoverlay-clock-id-4 { background: white none !important;; }
#foxclocksoverlay-clock-id-4 > label { color: black; }
#foxclocksoverlay-clock-id-5 { background: white none !important;; }
#foxclocksoverlay-clock-id-5 > label { color: black; }
#foxclocksoverlay-clock-id-6 { background: white none !important;; }
#foxclocksoverlay-clock-id-6 > label { color: black; }
#foxclocksoverlay-clock-id-7 { background: white none !important;; }
#foxclocksoverlay-clock-id-7 > label { color: black; }
#foxclocksoverlay-clock-id-8 { background: white none !important;; }
#foxclocksoverlay-clock-id-8 > label { color: black; }
#foxclocksoverlay-clock-id-9 { background: white none !important;; }
#foxclocksoverlay-clock-id-9 > label { color: black; }