@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#hf_RequestTree treechildren::-moz-tree-row {
	background-color: #e2eff3;
  color: #2c4a56;
}
#hf_RequestTree treechildren::-moz-tree-cell-text{
	background-color: #e2eff3;
  color: #2c4a56;
}
