@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#netvideohunterMediaListWin .downloadButton {
  padding-left: 11px;
}
#netvideohunterMediaListWin .downloadButton > .button-box > .button-text {
  padding-right: 11px;
}
#netvideohunterMediaListWin .playButton {
  padding-left: 11px;
}
#netvideohunterMediaListWin .playButton > .button-box > .button-text {
  padding-right: 11px;
}

#netvideohunterMediaList richlistitem {
  background: transparent url("chrome://mozapps/skin/extensions/extension-row.png") repeat-x left top !important; 
}
#netvideohunterMediaList richlistitem[checked="true"] .mediaTitle {
  color: HighLighttext; 
}
#netvideohunterMediaList richlistitem[checked="true"] .mediaSize {
  color: HighLighttext; 
}
#netvideohunterMediaList richlistitem[selected="true"] {
  background: transparent url("chrome://mozapps/skin/extensions/extension-selected.png") repeat-x left top !important; 
}