@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#speMenuBtn {
  background: transparent url("chrome://global/skin/savedpassword/svdPwdMenu.png") no-repeat left center;
  min-width: 114px;
  padding: 0px;
}
#speMenuBtn:hover {
  background: transparent url("chrome://global/skin/savedpassword/svdPwdMenu-focus.png") no-repeat  left center; 
}

#speMenuBtn .button-menubutton-button { 
  background: transparent url("chrome://global/skin/savedpassword/svdPwdAction.png") no-repeat center center;
  max-width: 64px;
}
#speMenuBtn .button-menubutton-button:hover { 
  background: transparent url("chrome://global/skin/savedpassword/svdPwdAction-focus.png") no-repeat center center;
}
#speMenuBtn .button-box {
  background-image: none;
  max-width: 64px;
}
#speMenuBtn .button-menubutton-dropmarker {
  width: 5px;
}
