#bookmarks-search  {
  -moz-appearance: none !important;
  -moz-box-align: left ;
  -moz-box-pack: left ;
}


#bookmarks-search > label  {
  font-weight: bold;
  color: #2c4a56 !important;
}


#bookmarks-search > textbox  {
	-moz-appearance: none !important;
	-moz-box-align: start !important;
	min-width: 35px !important;
	min-height: 22px !important;
	max-width: 1250px !important;
	background: url("chrome://browser/skin/bookmarks/bm-startcap.png") no-repeat left center ! important;
	border: none !important;
	margin: -3px 0px -2px 0px !important;
	padding-left: 8px;
      color: #2c4a56 !important;
}
.textbox-input-box {
	min-height: 22px !important;
	min-width: 35px !important;
	background: url("chrome://browser/skin/bookmarks/bm-endcap.png") no-repeat right center !important;
	border: none !important;
	margin: 4px 18px 3px 22px;
	padding: 4px 5px 0px 1px;
	font-family: tahoma;
}

#bookmark-window toolbar {
  background: url("chrome://browser/skin/bookmarks/toolbarBG.png") !important;
}
#bookmark-window toolbarbutton {
  list-style-image: url("chrome://browser/skin/bookmarks/Bookmarks-toolbar.png");
  -moz-box-orient: vertical;
  min-width: 8em;
  padding-top: 2px;
}

#bookmark-window toolbarbutton > .toolbarbutton-icon {
  -moz-margin-end: 0px;
}
#bookmark-window toolbarbutton > label {
  font-size: 8pt;
}

/* new bookmark */

toolbarbutton#newbookmark {
  -moz-image-region: rect(0px 34px 34px 0px);
}

toolbarbutton#newbookmark:hover {
  -moz-image-region: rect(34px 34px 68px 0px);
}
toolbarbutton#newbookmark:hover:active {
  -moz-image-region: rect(68px 34px 102px 0px);
}
toolbarbutton#newbookmark[disabled="true"] {
  -moz-image-region: rect(102px 34px 136px 0px) !important;
}

/* new livemark */

toolbarbutton#newlivemark {
  -moz-image-region: rect(0px 102px 34px 68px);
}
toolbarbutton#newlivemark:hover {
  -moz-image-region: rect(34px 102px 68px 68px);
}
toolbarbutton#newlivemark:hover:active {
  -moz-image-region: rect(68px 102px 102px 68px);
}
toolbarbutton#newlivemark [disabled="true"] {
   -moz-image-region: rect(102px 102px 136px 68px) !important;
}

/* new folder */

toolbarbutton#newfolder{
  -moz-image-region: rect(0px 68px 34px 34px);
}
toolbarbutton#newfolder:hover {
  -moz-image-region: rect(34px 68px 68px 34px);
}
toolbarbutton#newfolder:hover:active {
  -moz-image-region: rect(68px 68px 102px 34px);
}
toolbarbutton#newfolder[disabled="true"] {
  -moz-image-region: rect(84px 68px 136px 34px) !important;
}

/* new separator */

toolbarbutton#newseparator {
  -moz-image-region: rect(0px 136px 34px 102px);
}
toolbarbutton#newseparator:hover {
  -moz-image-region: rect(34px 136px 68px 102px);
}
toolbarbutton#newseparator:hover:active {
  -moz-image-region: rect(68px 136px 102px 102px);
}
toolbarbutton#newseparator[disabled="true"] {
  -moz-image-region: rect(102px 136px 136px 102px) !important;
}

/* move bookmark */

toolbarbutton#moveBookmark {
  -moz-image-region: rect(0px 170px 34px 136px);
}
toolbarbutton#moveBookmark:hover {
  -moz-image-region: rect(34px 170px 68px 136px);
}
toolbarbutton#moveBookmark:hover:active {
  -moz-image-region: rect(68px 170px 102px 136px);
}
toolbarbutton#moveBookmark[disabled="true"] {
  -moz-image-region: rect(102px 170px 136px 136px);
}

/* properties */

toolbarbutton#properties {
  -moz-image-region: rect(0px 204px 34px 170px);
}
toolbarbutton#properties:hover {
  -moz-image-region: rect(34px 204px 68px 170px);
}
toolbarbutton#properties:hover:active {
  -moz-image-region: rect(68px 204px 102px 170px);
}
toolbarbutton#properties[disabled="true"] {
  -moz-image-region: rect(102px 204px 136px 170px) !important;
}

/* rename */

toolbarbutton#rename {
  -moz-image-region: rect(0px 238px 34px 204px);
}
toolbarbutton#rename:hover {
  -moz-image-region: rect(34px 238px 68px 204px);
}
toolbarbutton#rename:hover:active {
  -moz-image-region: rect(68px 238px 102px 204px);
}
toolbarbutton#rename[disabled="true"] {
  -moz-image-region: rect(102px 238px 136px 204px) !important;
}

/* delete */

toolbarbutton#delete {
  -moz-image-region: rect(0px 272px 34px 238px);
}
toolbarbutton#delete:hover {
  -moz-image-region: rect(34px 272px 68px 238px);
}
toolbarbutton#delete:hover:active {
  -moz-image-region: rect(68px 272px 102px 238px);
}
toolbarbutton#delete[disabled="true"] {
  -moz-image-region: rect(102px 272px 136px 238px) !important;
}

#bookmark-views-splitter {
  border-left: 1px solid #2c4a56; 
  border-right: 1px solid #2c4a56;
}

#bookmark-folders-view > .bookmarksTree > treechildren::-moz-tree-cell-text,
#bookmark-folders-view > .bookmarksTree {
  -moz-appearance: none !important;
  margin-right: 0px !important;
  margin-left: 0px;
  background: #e2eff3 url("chrome://global/skin/brushed.png") !important;
  font-family: tahoma;
  border: none !important;
}
#bookmark-folders-view > .bookmarksTree > treechildren::-moz-tree-cell-text  {
  background: none !important;
}

#bookmark-folders-view > .bookmarksTree > treechildren::-moz-tree-cell-text(selected)  {
  color: #2c4a56 !important;
}
