@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#foxlingo-install-dialog label {
  color: #2c4a56 !important;
}

#foxlingo-options-dialog label {
  color: #2c4a56 !important;
}

.foxlingo-linklabel {
  color: #2c4a56 !important;
}

