#downloadManager {
  background-color: #e2eff3;
}
#downloadManager > hbox{
  background: url("chrome://mozapps/skin/extensions/extension-bg.png") transparent repeat-x !important;
  color: #2c4a56 !important;
}

/* Download View   #downloadManager > hbox.textbox???? */
#downloadView {
  -moz-appearance: none !important;
  margin: 0;
  background-color: #e2eff3 !important;
  border: 2px solid;
  -moz-border-top-colors: #1e7a99 #075b77;
  -moz-border-right-colors: #1e7a99 #075b77;
  -moz-border-bottom-colors: #1e7a99 #075b77;
  -moz-border-left-colors: #1e7a99 #075b77;
}

/* Download View Items */
richlistitem[type="download"] {
  background: url("chrome://mozapps/skin/extensions/extension-row.png") transparent;
  padding: 4px 8px 4px 4px;
  min-height: 46px;
}

richlistitem[type="download"][selected="true"] {
  background: url("chrome://mozapps/skin/extensions/extension-selected.png") transparent !important;
  border-bottom: 1px dotted #1e7a99 !important;
}

richlistitem[type="download"] .name {
  font-size: larger;
}

richlistitem[type="download"] .dateTime {
  font-size: smaller;
}

.mini-button {
  -moz-appearance: none;
  list-style-image: url(chrome://mozapps/skin/downloads/downloadButtons.png);
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  min-width: 0;
  min-height: 0;
}

.mini-button > .button-box {
  padding: 0 !important;
}

.cancel {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}
.cancel:hover {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}
.cancel:active {
  -moz-image-region: rect(32px, 32px, 48px, 16px);
}
.cancel[disabled="true"] {
  -moz-image-region: rect(48px, 32px, 64px, 16px);
}
.pause {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}
.pause:hover {
  -moz-image-region: rect(16px, 48px, 32px, 32px);
}
.pause:active {
  -moz-image-region: rect(32px, 48px, 48px, 32px);
}
.pause[disabled="true"] {
  -moz-image-region: rect(48px, 48px, 64px, 32px);
}
.resume {
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}
.resume:hover {
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}
.resume:active {
  -moz-image-region: rect(32px, 16px, 48px, 0px);
}
.resume[disabled="true"] {
  -moz-image-region: rect(48px, 16px, 64px, 0px);
}
.retry {
  -moz-image-region: rect(0px, 64px, 16px, 48px);
}
.retry:hover {
  -moz-image-region: rect(16px, 64px, 32px, 48px);
}
.retry:active {
  -moz-image-region: rect(32px, 64px, 48px, 48px);
}
.retry[disabled="true"] {
  -moz-image-region: rect(48px, 64px, 64px, 48px);
}

.blockedIcon {
  list-style-image: url(chrome://global/skin/icons/Error.png);
}

/* prevent flickering when changing states */
.downloadTypeIcon {
  min-height: 16px;
  min-width: 16px;
}

#clearListButton {
  min-height: 0;
  min-width: 0;
  margin-top: 3px;
}
#downloadManager > windowdragbox{
  background: url("chrome://mozapps/skin/extensions/extension-bg.png") transparent repeat-x !important;
}
#downloadManager #searchbox{
    -moz-appearance: none !important;
  background: url("chrome://browser/skin/bookmarks/bm-startcap.png") transparent left center no-repeat !important;
  padding: 5px;
  border: none !important;
  min-height: 22px;
}
#downloadManager #searchbox  > .textbox-input-box{
  background: url("chrome://browser/skin/bookmarks/bm-endcap.png") transparent right center no-repeat !important;
  min-height: 22px;
  padding: 5px;
  color: #2c4a56 !important;
}
