dropmarker {
  -moz-appearance: menulist-button;
  width: 16px;
  height: 16px;
  -moz-box-align: center;
  -moz-box-pack: center;
  border: 2px solid;
  -moz-border-top-colors: #075b77 #1e7a99;
  -moz-border-right-colors: #075b77 #1e7a99;
  -moz-border-bottom-colors: #075b77 #1e7a99;
  -moz-border-left-colors: #075b77 #1e7a99;
  background-color: #e2eff3;
  padding: 1px;
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
  -moz-image-region: auto;
}

dropmarker:hover:active {
  -moz-border-top-colors: #1e7a99 #075b77;
  -moz-border-right-colors: #1e7a99 #075b77;
  -moz-border-bottom-colors: #1e7a99 #075b77;
  -moz-border-left-colors: #1e7a99 #075b77;
  padding-top: 2px;
  padding-bottom: 0px;
  -moz-padding-start: 2px;
  -moz-padding-end: 0px;
}

dropmarker[disabled="true"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn-dis.gif");
  -moz-border-top-colors: #075b77 #1e7a99 !important;
  -moz-border-right-colors: #075b77 #1e7a99 !important;
  -moz-border-bottom-colors: #075b77 #1e7a99 !important;
  -moz-border-left-colors: #075b77 #1e7a99 !important;
  padding: 1px !important;
}
