@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



sidebarheader {
  background: transparent url('chrome://global/skin/toolbar/sbheader-background.png') repeat-x left top !important;
  /*min-height: 22px !important;
  max-height: 22px !important; */
  min-width: 200px !important;
  border-bottom: 0px solid #1e7a99;
  border-top: 0px solid #1e7a99;
  padding-top: 0px !important;
}
sidebarheader > label {
  font-weight: bold;
  font-size: 10pt;
  letter-spacing: 6px !important;
  color: #2c4a56;
}
#bookmarksPanel,
#history-panel {
  background: #e2eff3 url("chrome://global/skin/redblack.gif") !important;
}
#bookmarksPanel > hbox,
#history-panel > hbox {
  background: #e2eff3 url("chrome://global/skin/brushed.png") !important;
}
#bookmarksPanel >hbox > label,
#history-panel > hbox > label {
  color: #2c4a56;
}
#bookmarksPanel bookmarks-tree tree,
#historyTree {
  -moz-appearance: none;
  background: #e2eff3 url("chrome://global/skin/toolbar/sidebar-bg.png") !important;
}


#viewButton > .button-box > .button-menu-dropmarker {
  display: none !important;
}
#sidebar-splitter {
  border: 0px !important;
  border-right: 1px solid #1e7a99 !important;
  border-left: 1px solid #1e7a99 !important;
  background: #e2eff3 !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}
hbox > #search-box  {
	-moz-appearance: none !important;
	-moz-box-align: start !important;
	min-width: 20px !important;
	min-height: 22px !important;
	max-width: 1250px !important;
  background: url("chrome://browser/skin/bookmarks/bm-startcap.png") no-repeat left center ! important;
	border: none !important;
	margin: 0px 0px 0px 0px;
	padding-left: 8px !important;
}
/* glowplug: hmmm...workaround for my composite View button being too tall (height) */
#history-panel > #sidebar-search-container > #search-box {
  padding-bottom: 2px !important;
}
hbox > #search-box > .textbox-input-box {
	min-height: 22px !important;
      min-width: 30px !important;
	background: url("chrome://browser/skin/bookmarks/bm-endcap.png") no-repeat right center !important;
	border: none !important;
	margin: 4px 5px 3px 8px;
	padding: 4px 10px 0px 0px;
	font-family: tahoma;
}

/*sidebar close button*/

sidebarheader > toolbarbutton {
  height: 22px !important;
  width: 20px !important;
  margin: 0px !important;
  padding: 0px !important;
  border: 0px !important;
  list-style-image: url("chrome://global/skin/toolbar/sidebar-close.png") !important;
  -moz-image-region: rect(0px 20px 22px 0px) !important;
}
sidebarheader > toolbarbutton:hover {
  -moz-image-region: rect(0px 40px 22px 20px) !important;
}
sidebarheader > toolbarbutton:hover:active {
  -moz-image-region: rect(0px 60px 22px 40px) !important;
}
sidebarheader > toolbarbutton[disabled="true"] {
  -moz-image-region: rect(0px 60px 22px 80px) !important;
}
