dropmarker {
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  -moz-box-align: center;
  -moz-box-pack: center;
  padding: 1px;
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
  -moz-image-region: auto;
}

dropmarker:hover:active:not([disabled="true"]) {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn-hov.gif");
  padding: 2px 0px 0px 2px;
}

dropmarker[disabled="true"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn-dis.gif");
}
