/* ::::: DOM Inspector support :::::*/

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Inspector Window */


#btnSelecting {
  list-style-image: url("chrome://global/skin/inspector/domi-buttons.png") !important;
  -moz-image-region: rect(0px 78px 23px 0px) !important;
}
#btnSelecting:hover {
  -moz-image-region: rect(23px 78px 46px 52px) !important;
}
#btnSelecting[checked="true"]  {
  -moz-image-region: rect(46px 78px 69px 52px) !important;
}
#btnSelecting:hover:active {
  -moz-image-region: rect(46px 78px 69px 52px) !important;
}
#btnSelecting[disabled="true"] {
  -moz-image-region: rect(69px 78px 92px 52px) !important;
}


#btnFind {
  list-style-image: url("chrome://global/skin/inspector/domi-buttons.png") !important;
  -moz-image-region: rect(0px 26px 23px 0px) !important;
}
#btnFind:hover {
  -moz-image-region: rect(23px 26px 46px 0px) !important;
}
#btnFind:hover:active {
  -moz-image-region: rect(46px 26px 69px 0px) !important;
}
#btnFind[disabled="true"] {
  -moz-image-region: rect(69px 26px 92px 0px) !important;
}

/* Panel Set */

.viewer-list {
  list-style-image: url("chrome://global/skin/inspector/domi-buttons.png") !important;
  -moz-image-region: rect(0px 52px 23px 26px) !important;
}
.viewer-list:hover {
  -moz-image-region: rect(23px 52px 46px 26px) !important;
}
.viewer-list:hover:active {
  -moz-image-region: rect(46px 52px 69px 26px) !important;
}
.viewer-list[disabled="true"] {
  -moz-image-region: rect(69px 52px 92px 26px) !important;
}


.viewer-list .toolbarbutton-menu-dropmarker {
  display: none !important;
}

#bxPanelSet .toolbarbutton-menu-dropmarker {
  margin-left: 4px !important;
}
