.folder-icon > .menulist-label-box > .menulist-icon,
.folder-icon > .menu-iconic-left > .menu-iconic-icon {
  width: 16px;
  height: 16px;
}

.folder-icon > .menu-iconic-left {
  display: -moz-box;
  margin-left: -17px !important;
}
.folder-icon {
  list-style-image: url("chrome://global/skin/tree/folder-closed.png") !important;
}
.menu-iconic-icon {
  list-style-image: url("chrome://browser/skin/icons/folder-closed.png") !important;
}

#expander > .button-box .button-icon {
  list-style-image: url("chrome://global/skin/toolbar/chevron-open.png") !important;
}

/* Make the microsummary picker look like a regular textbox instead of 
 * an editable menulist when no microsummaries are available.
 */

menulist#name[droppable="false"] {
  /* These rules come from the textbox element in textbox.css. */

  /* Normal editable menulists set this to "none". */
  -moz-appearance: textfield;
  cursor: text;

  border: 2px solid;
  -moz-border-top-colors: #1e7a99 #075b77;
  -moz-border-right-colors: #1e7a99 #075b77;
  -moz-border-bottom-colors: #1e7a99 #075b77;
  -moz-border-left-colors: #1e7a99 #075b77;
  background-color: #e2eff3;
  color: #2c4a56;
}

menulist#name[droppable="false"] > .menulist-editable-box {
  /* Normal editable menulists set this to "menulist-textfield". */
  -moz-appearance: none;
  padding: 2px 2px 3px 4px;
}

/* Hide the drop marker and the popup when no microsummaries are available. */
menulist#name[droppable="false"] > .menulist-dropmarker,
menulist#name[droppable="false"] > menupopup {
  display: none;
}
