@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#pane_providers .available-providers > label {
  color: infotext;
}
#pane_providers .favorite-providers > label {
  color: infotext;
}
#pane_clovers .available-providers > label {
  color: infotext;
}

#btn_category_kwiclick {
  background-image: none;
}
#btn_category_kwiclick > .button-box{
  background-image: none;
}
#textbox_search_kwiclick {
 background-color: -moz-dialog;
}