#xpinstallheader {
  margin-bottom: 2em;
}

#itemList {
  -moz-appearance: none;
  margin: 3px 4px 10px 4px;
  height: 14em;
  border: 2px solid;
  -moz-border-top-colors: #1e7a99 #075b77;
  -moz-border-right-colors: #1e7a99 #075b77;
  -moz-border-bottom-colors: #1e7a99 #075b77;
  -moz-border-left-colors: #1e7a99 #075b77;
  background-color: #e2eff3;
  color: #2c4a56;
}

#itemWarningIntro {
  -moz-margin-start: 8px;
}

#dialogContentBox {
  padding: 5px;
}

installitem {
  padding-top: 5px;
  padding-bottom: 5px;
  -moz-padding-start: 5px;
  -moz-padding-end: 0;
  border-bottom: 1px dotted #1e7a99;
  margin-bottom: 5px;
  background: #e2eff3 url("chrome://global/skin/info-bg.png") repeat-x;
}

.alert-icon {
  list-style-image: url("chrome://global/skin/icons/warning-large.png");
  width: 48px;
  height: 48px;
  -moz-margin-end: 20px;
}

.warning {
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 1em;
}

.xpinstallIconContainer {
  width: 32px;
  height: 32px;
  -moz-margin-end: 5px;
}

.xpinstallItemName {
  font-weight: bold;
}

.xpinstallItemSigned {
  font-style: italic;
  font-size: 0.9em;
}

.xpinstallItemURL {
  -moz-appearance: none;
  border: none;
  padding: 0;
  background-color: #e2eff3;
  color: #2c4a56;
  margin-top: 1px;
  margin-bottom: 1px;
  -moz-margin-start: 6px;
  -moz-margin-end: 5px;
}

.xpinstallItemIcon {
  max-width: 32px;
  max-height: 32px;
  list-style-image: url("chrome://mozapps/skin/xpinstall/xpinstallItemGeneric.png");
}
