@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#wf_tabbox #mainmenu {
  background-color: #e2eff3;
  border: 1px solid #1e7a99;
  -moz-border-radius: 4px;
}
#wf_tabbox #submenu {
  background-color: #e2eff3;
  border: 1px solid #1e7a99;
  -moz-border-radius: 4px;
}
#wf_tabbox #subrotatemenu {
  background-color: #e2eff3;
  border: 1px solid #1e7a99;
  -moz-border-radius: 4px;
}
#wf_tabbox  #visitHome{
  color: #2c4a56;
}