@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#winInspectorMain #tbxInsToolbox {
  -moz-appearance: none;
  background: #e2eff3 url("chrome://global/skin/toolbar/toolbox-bg.png") repeat-x left top;
  border: none;
}
#tbInspectorPrimary {
  -moz-appearance: none;
  background: none;
  border: none;
}

#bxInspectorMain > #bxPanelSet > #bxDocPanel > .viewer-pane-toolbox > .viewer-pane-header {
  -moz-appearance: none;
  background-image: -moz-linear-gradient(#59a5c0, #e2eff3 15%, #e2eff3 85%, #59a5c0);
  min-height: 23px;
}

#trDOMTree {
  background: #1e7a99 url("chrome://global/skin/bg-inverse.png") repeat left top;
}

#winInspectorMain #btnSelecting {
  list-style-image: url("chrome://global/skin/inspector/domi-buttons.png") !important;
  -moz-image-region: rect(0px 78px 23px 52px) !important;
  border: 1px solid transparent;
}
#winInspectorMain #btnSelecting:hover {
  -moz-image-region: rect(23px 78px 46px 52px) !important;
}
#winInspectorMain #btnSelecting[checked="true"] {
  -moz-image-region: rect(46px 78px 69px 52px) !important;
  border-color: #1e7a99;
  -moz-border-radius: 2px;
}
#winInspectorMain #btnSelecting[disabled="true"] {
  -moz-image-region: rect(46px 78px 69px 52px) !important;
}

#winInspectorMain #btnFind {
  list-style-image: url("chrome://global/skin/inspector/domi-buttons.png") !important;
  -moz-image-region: rect(0px 26px 23px 0px) !important;
  border: 1px solid transparent;
}
#winInspectorMain #btnFind:hover {
  -moz-image-region: rect(23px 26px 46px 0px) !important;
}
#winInspectorMain #btnFind[disabled="true"] {
  -moz-image-region: rect(69px 26px 92px 0px) !important;
}

#winInspectorMain .viewer-list {
  list-style-image: url("chrome://global/skin/inspector/domi-buttons.png") !important;
  -moz-image-region: rect(0px 52px 23px 26px) !important;
  border: 1px solid transparent;
}
#winInspectorMain .viewer-list:hover {
  -moz-image-region: rect(23px 52px 46px 26px) !important;
}
#winInspectorMain .viewer-list[disabled="true"] {
  -moz-image-region: rect(69px 52px 92px 26px) !important;
}

#stackedinspector-toolbarbutton {
  list-style-image: url("chrome://global/skin/inspector/stackedinspector.png") !important;
  -moz-image-region: rect(0px 26px 23px 0px) !important;
  border: 1px solid transparent;
}
#stackedinspector-toolbarbutton:hover {
  -moz-image-region: rect(23px 26px 46px 0px) !important;
}
#stackedinspector-toolbarbutton[disabled="true"] {
  -moz-image-region: rect(69px 26px 92px 0px) !important;
}

#winInspectorMain .viewer-menu {
  list-style-image: url("chrome://global/skin/arrow/arrow-rit-sharp.gif");
  -moz-image-region: auto;
  border: 1px solid transparent;
}
#winInspectorMain .viewer-menu:hover {
  list-style-image: url("chrome://global/skin/arrow/arrow-rit-sharp-hover.gif");
  -moz-image-region: auto;
}
#winInspectorMain .viewer-menu[disabled="true"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-rit-sharp-dis.gif");
  -moz-image-region: auto;
  border: 1px solid transparent;
}

#winInspectorMain #bxObjectPanel > .viewer-pane-toolbox > .viewer-pane-header {
  -moz-appearance: none;
  background: #e2eff3 url("chrome://global/skin/toolbar/toolbox-bg.png") repeat-x left top;
  min-height: 23px;
}